.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-bottom: 200px;
    
    flex-direction: column;
}

.label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.textInput {
    width: 100%;
    height: 20px;
    font-size: 15px;
}

.titulo {
    text-decoration: underline;
    text-align: center;
}

.resultado {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}